/* paynes grey  #587291 
   platinum      #CCDBDC
   asparagus    #6A994E
   bright pink   #F45866
   gunmetal     #263D42
       font-family: 'Crimson Text', serif;*/ 

       @import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
       @import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
    
    #root {
      font-family: 'Unica One', sans-serif;
      display: grid;
      grid-template-areas: "header" "main";
      background-color: #CCDBDC;
      font-size: max(20px, 17px);
    }
    
    .header-div {
      grid-area: header;
    
    }
    
    .header-text {
      text-decoration: none;
      font-size: 3vw;
      color: #263D42;
      font-family: 'Unica One', sans-serif;
    
    
    }
    
    .header-div h1 {
      text-align: center;
    }
    
    .form-div {
      
      grid-area: main;
      max-width: 95vw;
    }
    
    .settings-div {
      border: 1px solid orange;
    }
    
    .sites-to-block-div {
      border: 5px solid rgb(0, 0, 0);
      display: flex;
      flex-direction: row;
      max-width: fit-content;
      margin: auto;
    
    
    }
    
    .puzzle-selector-div {
      border: 1px solid yellow;
    }
    
    .suggested-sites-div {
      border: 1px solid green;
      width: 40vw;
    }
    
    .font-dropdown-div {
      border: 1px solid purple;
    }
    
    .difficulty-dropdown {
      border: 1px solid grey;
    }
    
    .puzzle-card {
      border: 1px solid green;
    }
    
    .input-box {
      border: 1px solid purple;
    }
    
    .correct-answer {
      background-color: yellow;
    }
    
    .blocked {
      background-color: #F45866;
    }
    
    .not-blocked {
      background-color: #6A994E;
    }

    .selected {
      background-color: #F45866;
    }
    
    button {
      font-family: 'Crimson Text', serif;
      font-size:1.5vw;
      font-size: max(1.5vw, 17px);
      border-radius: 15px;
      height: fit-content;
    }
    
    h2 {
      text-align: center;
    }
    
    .categories {
      width: 40vw
    }
    
    .site-button {
      padding: 14px;
      font-size: 20px;
    }
    
    .delete-button {
      font-size: max(1.5vw, 14px);
    }
    
    .footer-buttons {
      margin: 20px;
      display: flex;
      justify-content: space-between;
    }