/* paynes grey  #587291 
   platinum      #CCDBDC
   asparagus    #6A994E
   bright pink   #F45866
   gunmetal     #263D42
   logo green #00BF63
       font-family: "Inter", sans-serif;*/

@import url("https://fonts.googleapis.com/css2?family=Unica+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");

html {
  background-color: #ccdbdc;
  background-image: url("src/assets/maze-background.jpg");
  background-size: fill;
}

body {
  margin: 0;
}

#root {
  font-family: "Unica One", sans-serif;
  display: flex;
  flex-direction: column;
  grid-template-areas: "header" "main";
  font-size: max(20px, 17px);
  align-items: center;
  height: fit-content;
}

.form-div {
  margin: 0;
}

.header-div {
  grid-area: header;
  height: 0px;
  display: flex;
  flex-direction: row;
  align-items: bottom;
}

.header-text {
  text-decoration: none;
  font-size: max(4vh, 20px);
  color: #263d42;
  font-family: "Unica One", sans-serif;
  margin: auto;
  text-wrap: nowrap;
}

.header-div h1 {
  padding: 20px;
  margin: auto;
}

h1 {
  margin: auto;
}

.sites-to-block-div {
  border: 5px solid #263d42;
  display: flex;
  flex-direction: row;
  width: 81.5vw;
  margin: auto;
  height: 70vh;
  margin-top: 15vh;
  background-color: #e3e6e6e1;
}

.sites-to-block-unblock-mode {
  border: 5px solid #263d42;
  display: flex;
  flex-direction: row;
  width: 81.5vw;
  margin: auto;
  height: 70vh;
  margin-top: 15vh;
  background-color: #e3e6e6e1;
  justify-content: center;
}

.suggested-sites-div {
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
}

.suggested-sites-buttons {
  overflow-y: auto;
  height: 55.5vh;
  padding-bottom: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content:start;
  width: 40.75vw;
}

.list-of-my-buttons {
  overflow-y: auto;
  max-height: 70vh;
  padding-bottom: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 40.75vw;
}



#blocked {
  background-color: #263d42;
  color: #ccdbdc;
}

#blocked-logo {
  content: url("src/assets/blocked.png");
}

button {
  font-family: "Inter", sans-serif;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #58729150;
  color: #263d42;
}

button:enabled:hover {
  cursor: pointer;
  background-color: #58729150;
  color: #263d42;
}

h2 {
  text-align: center;
  font-size: 2.3rem;
  margin: 20px;
  margin-bottom: 10px;
}

p {
  margin: 0px;
  margin-bottom: 10px;
  font-family: "Inter", sans-serif;
  text-wrap: wrap;
  text-align: center;
  padding: 0px 10px;
  font-size: 0.9rem;
}

.categories {
  width: 40vw;
  text-align: center;
  padding-right: 10px;
  border-left: solid;
  margin-left: 6px;
}

.site-button {
  padding: 10px 2px;
  font-size: 20px;
  margin: 15px 22px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border: none;
  box-shadow: 2px 5px 10px #587291;
  width: 120px;
  height: 90px;
  min-width: fit-content;
  font-weight: 600;
  color: #263d42;
  background-color: #e3e6e6;
}

.delete-button {
  font-size: 0.2rem;
  width: 10px;
  flex-grow: none;
  background-color: #58729150;
  color: #263d42;
}

.maze-div{
  border: 5px solid #263D42;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 15vh;
  background-color: #e3e6e6e1;
  width: 50vw;
  color: #263D42;
  align-items: center;
}

.maze-puzzle {
  margin: 0 auto 20px auto;
  min-height: fit-content;
  text-align: center;
}

.puzzle-instructions{
  padding-top: 5px;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  color: #263D42;
}

.site-preview-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  text-align: center;
  gap: 10px;
}

.footer-buttons {
  margin: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-image {
  height: 40px;
  width: 40px;
  padding-bottom: 5px;
  border-radius: 6px;
  object-fit: contain;
}

a {
  text-decoration: none;
}

form {
  justify-self: end;
  text-align: center;
  padding-top: 0;
  padding-right: 0;
}

.add-button-div {
  margin: auto;
  margin-bottom: 10px;
}

.example-site-text {
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  text-wrap: wrap;
  text-align: center;
  margin: 15px;
}

input {
  margin: 10px;
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
  border-color: #263d42;
}

#categories {
  font-size: 0.9rem;
  font-family: "Inter", sans-serif;
  border-radius: 10px;
  background-color: #58729150;
  margin-bottom: 4px;
  padding-right: 20px;
}

.confirmation-button-div {
  font-size: 4vw;
  padding: 10px 20px;
  font-weight: 600;
  font-family: "Unica One", sans-serif;
  background-color: #263d42;
  color: #ccdbdc;
  min-width: 20vw;
  min-height: 6vh;
  justify-content: center;
}

.settings-button-div {
  font-size: 2.5vw;
  padding: 5px 10px;
  background-color: #58729150;
  color: #263d42;
  font-weight: 600;
  font-family: "Unica One", sans-serif;
  width: 220px;
  justify-content: center;
}

.unblock-all-button {
  font-size: 2.5vw;
  padding: 5px 10px;
  background-color: #58729150;
  color: #263d42;
  font-weight: 600;
  font-family: "Unica One", sans-serif;
  width: 220px;
  justify-content: center;
}

.quiz-div {
  border: 5px solid #263d42;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 15vh;
  background-color: #e3e6e6e1;
  width: 85vw;
}

.incorrect-answer,
.correct-answer {
  padding: 10px 2px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border: none;
  box-shadow: 5px 5px 10px #587291;
  width: 250px;
  min-width: fit-content;
  color: #263d42;
  background-color: #f4f4f4;
  margin: 30px auto;
}

.question {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  color: #263d42;
  text-align: center;
  padding: 30px;
  padding-bottom: 20px;
  font-weight: 600;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quiz-end{

  display: flex;
  flex-direction: column;
  max-width: fit-content;
  margin: auto;
  margin-top: 35vh;
  width: 85vw;
  align-items: center;
}

.well-done {
  font-size: 9vw;
  color: #263d42;
  margin-bottom: 10px;
  font-family: "Unica One", sans-serif;
}

.unlock-button{
  margin: 10px;
  padding: 5px;
  font-size: 4vw;
  font-weight: 600;
  font-family: "Unica One", sans-serif;
}

.home-button {
  margin: 20px auto;
  margin-top: 20px;
  margin-bottom: 25px;
  margin-left: 17.5vw;
  padding: 5px;
  font-size: 4vw;
  font-weight: 600;
  width: 200px;
  justify-content: center;
  font-family: "Unica One", sans-serif;
  bottom: 0;
  position: fixed;
}

.quiz-home-button {
  margin: 20px auto;
  margin-top: 20px;
  margin-bottom: 25px;
  margin-left: 35vw;
  padding: 5px;
  font-size: 4vw;
  font-weight: 600;
  width: 200px;
  justify-content: center;
  font-family: "Unica One", sans-serif;
  bottom: 0;
  position: fixed;
}

#credit-maze{
  margin: 0;
}

.header-logo {
  width: 100px;
  height: 100px;
  padding-top: 10px;
}

.settings-div {
  border: 5px solid #263d42;
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  margin: auto;
  margin-top: 15vh;
  background-color: #e3e6e6e1;
  width: 85vw;
  color: #263d42;
}

.puzzle-card {
  font-family: "Inter", sans-serif;
  color:#263d42; 
  font-weight: 100;
  font-size: 1rem;
}

.puzzle-selector-title {
  font-family: "Inter", sans-serif;
  padding: 0px;
  margin: 0px;
  text-align: left;
  font-size: 1.3rem;
  font-weight: 200;
  padding: 2px 30px;
}

.games-checklist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
  font-size: 1.5rem;
}

.difficulty-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
  padding: 0px;
  margin: 0px;
  text-align: left;
  font-size: 1.3rem;
  font-weight: 200;
  padding: 2px 30px;
}

.settings-confirmation-button {
  margin-top: 20px;
  margin-bottom: 25px;
  padding: 5px;
  font-size: 3vw;
  font-weight: 600;
  width: 15vw;
  justify-content: center;
  font-family: "Unica One", sans-serif;
}

input#difficulty-slider::-webkit-slider-runnable-track {
  background:#263d42;
  border-radius: 30px;
}

input#difficulty-slider {
  padding: 0px;
  accent-color: #00BF63;
}

.individual-quiz-title {
  width: 90px;
  margin: 2px 0px;
}

#check-boxes {
  accent-color: #00BF63;
}

.warning {
  color: red;
}